@model IEnumerable<ProxyServer.Controllers.Item>
<h1 style="font-family: monospace">KANBAN BOARD</h1>
<div style="float:left; width:20%">
    <span style="font-weight: bold">Backlog</span>
    @foreach (var item in Model.Where(m => m.Status == "backlog"))
    {
        <div style="font-family: monospace">
            *****************************<br>
            @item.Title<br />
            *@for (int c = 0; c < 13; c++)
             {
                 <span style="color:white">*</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            @using (Html.BeginForm("ToWorking", "Home"))
            {
                @Html.Hidden("id", item.Id)
                <input type="submit" value="&gt;" >
            }
            *****************************
        </div>
    }
</div>
<div style="width:6%; float:left"></div>
<div style="float:left; width:20%">
    <span style="font-weight: bold">Working</span>
    @foreach (var item in Model.Where(m => m.Status == "working"))
    {
        <div style="font-family: monospace">
            *****************************<br>
            @item.Title<br />
            *@for (int c = 0; c < 13; c++)
             {
                 <span style="color:white">*</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            <div style="display:inline-block">
                @using (Html.BeginForm("ToBacklog", "Home"))
                {
                    @Html.Hidden("id", item.Id)
                    <input type="submit" value="&lt;">
                }
            </div>
            <div style="display:inline-block">
                @using (Html.BeginForm("ToVerify", "Home"))
                {
                    @Html.Hidden("id", item.Id)
                    <input type="submit" value="&gt;">
                }
            </div><br/>
            *****************************
        </div>
    }
</div>
<div style="width:6%; float:left"></div>
<div style="float:left; width:20%">
    <span style="font-weight: bold">Verify</span>
    @foreach (var item in Model.Where(m => m.Status == "verify"))
    {
        <div style="font-family: monospace">
            *****************************<br>
            @item.Title<br />
            *@for (int c = 0; c < 13; c++)
             {
                 <span style="color:white">*</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            *@for (int c = 0; c < 13; c++)
             {
                 <span>&nbsp;</span>
             }*<br>
            <div style="display:inline-block">
                @using (Html.BeginForm("ToWorking", "Home"))
                {
                    @Html.Hidden("id", item.Id)
                    <input type="submit" value="&lt;">
                }
            </div>
            <div style="display:inline-block">
                @using (Html.BeginForm("ToDone", "Home"))
                {
                    @Html.Hidden("id", item.Id)
                    <input type="submit" value="&gt;">
                }
            </div><br/>
            *****************************
        </div>
    }
</div>
<div style="width:6%; float:left"></div>
<div style="float:left; width:20%">
    <span style="font-weight: bold">Done</span>
    @foreach (var item in Model.Where(m => m.Status == "done"))
    {
        <div style="font-family: monospace">
            *****************************<br>
            @item.Title<br />
            *@for (int c = 0; c < 13; c++)
            {
                <span style="color:white">*</span>
            }*<br>
            *@for (int c = 0; c < 13; c++)
            {
                <span>&nbsp;</span>
            }*<br>
            *@for (int c = 0; c < 13; c++)
            {
                <span>&nbsp;</span>
            }*<br>
            *@for (int c = 0; c < 13; c++)
            {
                <span>&nbsp;</span>
            }*<br>
            *@for (int c = 0; c < 13; c++)
            {
                <span>&nbsp;</span>
            }*<br>
            @using (Html.BeginForm("ToBacklog", "Home"))
            {
                @Html.Hidden("id", item.Id)
                <input type="submit" value="&gt;">
            }
            *****************************
        </div>
    }
</div>